<div class="page__footer">
    <footer class="footer">
        <div class="footer__top">
            <div class="row footer_row">
                <div class="column large-2 medium-4 small-6">
                    <div class="footer-menu__cont">
                        <div class="footer-menu__title">О компании</div>
                        <ul class="footer-menu">
                            <li><a href="/about/#about">О нас</a></li>
                            <li><a href="/about/history/">История</a></li>
                            <li><a href="/about/rewards/">Награды</a></li>
                            <li><a href="/about/mission">Миссия и ценности</a></li>
                            <li><a href="/vacancies/profits">Преимущества</a></li>
                            <li><a href="/ourwins/">Наши победы</a></li>
                            <li><a href="/about/help/">Благотворительность</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column large-2 medium-4 small-6">
                    <div class="footer-menu__cont">
                        <div class="footer-menu__title">Предоставление персонала</div>
                        <ul class="footer-menu">
                            <li><a href="/services/autsorsing/autsorsing-personala/">Аутсорсинг персонала</a></li>
                            <li><a href="/services/autsorsing/autsorsing-biznes-protsessov/">Аутсорсинг бизнес-процессов</a></li>
                            <li><a href="/services/autsorsing/barkhatnyy-rekruting/">Бархатный рекрутинг</a></li>
                            <li><a href="/services/autstaffing/autstaffing-personala-inostrannykh-grazhdan/">Аутстаффинг персонала иностранных граждан</a></li>
                            <li><a href="/services/autstaffing/autstaffing-personala-grazhdan-rf/">Аутстаффинг персонала граждан РФ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column large-2 medium-4 small-6">
                    <div class="footer-menu__cont">
                        <div class="footer-menu__title">Подбор персонала</div>
                        <ul class="footer-menu">
                            <li><a href="/services/podbor-personala/eksklyuzivnyy-podbor/">Эксклюзивный подбор</a></li>
                            <li><a href="/services/podbor-personala/traditsionnyy-rekruting-/">Традиционный рекрутинг</a></li>
                            <li><a href="/services/podbor-personala/massovyy-podbor-/">Массовый подбор</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column large-2 medium-4 small-6">
                    <div class="footer-menu__cont">
                        <div class="footer-menu__title">Информация</div>
                        <ul class="footer-menu">
                            <li><a href="/policy/">Согласие на обработку персональных данных</a></li>
                        </ul>
                    </div>
                </div>
                <div class="column large-2 medium-4 small-6">
                    <div class="footer-menu__cont">
                        <div class="footer-menu__title">Обратная связь</div>
                        <div class="footer-menu__links">
                            <p class="phone"><a href="tel:+ 7(812) 603-43-33">+7(812) 603-43-33</a></p>
                            <p class="phone"><a href="tel:+ 7(800) 555-90-35">+7(800) 555-90-35</a></p>
                            <p class="phone"><a href="mailto:info@akmeservices.ru">info@akmeservices.ru</a></p>
                        </div>
                        <button class="border-button footer-menu__button" data-remodal-target="modal">Обратный звонок</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column large-12">
                <div class="footer__bottom">
                    <div class="footer__info">© 2003-2020 Группа кадровых компаний "АКМЭ"</div>
                </div>
            </div>
        </div>
    </footer>
</div>